<div id="cookie" class="hidden">
  <div class="container">
    <div class="row">
      <span class="col-12 col-md-8"
        >Wir verwenden Cookies, um Inhalte und Anzeigen zu personalisieren,
        Funktionen für die erweiterte Hilfe anbieten zu können und die Zugriffe
        auf unsere Website zu analysieren.</span
      >
      <div class="buttons col-12 col-md-4">
        <button class="btn btn-light btn-outline mr-10" data-type="setting">
          <i class="fas fa-cog"></i>
        </button>
        <button class="btn btn-light" data-type="accept">Zustimmen</button>
      </div>
    </div>
    <ul class="cookie-setting-items">
      <li class="row row--no-gutters" data-type="functionalCookies">
        <span class="name col-10 col-xs-7 col-sm-5 col-md-4 col-lg-3 col-xl-3"
          >Funktionale Cookies</span
        >
        <input
          class="col-2 col-xs-1"
          type="checkbox"
          name=""
          disabled=""
          readonly=""
          checked=""
        />
        <a
          class="col-12 col-xs-4 col-sm-3 col-lg-2"
          href="https://www.menten.com/de/datenschutz"
          >mehr Infos</a
        >
      </li>
      <li class="row row--no-gutters" data-type="googleAnalytics">
        <span class="name col-10 col-xs-7 col-sm-5 col-md-4 col-lg-3 col-xl-3"
          >Google Analytics</span
        >
        <input class="col-2 col-xs-1" type="checkbox" checked="" />
        <a
          class="col-12 col-xs-4 col-sm-3 col-lg-2"
          href="https://www.menten.com/de/datenschutz"
          >mehr Infos</a
        >
      </li>
      <li class="row row--no-gutters" data-type="googleTagManager">
        <span class="name col-10 col-xs-7 col-sm-5 col-md-4 col-lg-3 col-xl-3"
          >Google Tag Manager</span
        >
        <input class="col-2 col-xs-1" type="checkbox" checked="" />
        <a
          class="col-12 col-xs-4 col-sm-3 col-lg-2"
          href="https://www.menten.com/de/datenschutz"
          >mehr Infos</a
        >
      </li>
      <li class="row row--no-gutters" data-type="facebookPixel">
        <span class="name col-10 col-xs-7 col-sm-5 col-md-4 col-lg-3 col-xl-3"
          >Facebook Pixel</span
        >
        <input class="col-2 col-xs-1" type="checkbox" checked="" />
        <a
          class="col-12 col-xs-4 col-sm-3 col-lg-2"
          href="https://www.menten.com/de/datenschutz"
          >mehr Infos</a
        >
      </li>
      <li class="row row--no-gutters" data-type="youtube">
        <span class="name col-10 col-xs-7 col-sm-5 col-md-4 col-lg-3 col-xl-3"
          >Youtube</span
        >
        <input class="col-2 col-xs-1" type="checkbox" checked="" />
        <a
          class="col-12 col-xs-4 col-sm-3 col-lg-2"
          href="https://www.menten.com/de/datenschutz"
          >mehr Infos</a
        >
      </li>
    </ul>
  </div>
</div>
