{{ define "main" }}

<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h2>{{.Title}}</h2>
      <ol>
        <li><a href="/">Home</a></li>
        <li>{{.Title}}</li>
      </ol>
    </div>
  </div>
</section>
<!-- End Breadcrumbs -->
{{ with .Params.hero}}
<section class="inner-page">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <img src="/img/{{.img}}" alt="" class="img-fluid" />
      </div>
      <div class="col-md-6 it">
        <h2>{{.title}}</h2>
        <h3>{{.sub_title}}</h3>
        <p>{{.content | safeHTML}}</p>
      </div>
    </div>
  </div>
</section>
{{end}}

<!---->
<!-- ======= Featured Services Section ======= -->
{{with .Params.our_areas}}
<section id="featured-services" class="featured-services">
  <div class="container" data-aos="fade-up">
    <div class="row">
      {{ range.card}}
      <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><img src="/img/{{.icon}}" alt="" /></div>
          <h4 class="title"><a href="">{{.title}}</a></h4>
          <p class="description">{{.content}}</p>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</section>
{{end}}
<!-- End Featured Services Section -->
<!-- ======= Featured Services Section ======= -->
<section id="featured-services" class="featured-services section-bg">
  <div class="container" data-aos="fade-up">
    <div class="row">{{.Content}}</div>
  </div>
</section>
<!-- End Featured Services Section -->
{{with .Params.img_section}}
<section class="featured-services">
  <div class="container" ata-aos="fade-up">
    <div class="row">
      {{ range .section}}
      <div class="col c-im">
        <img src="/img/{{.img}}" alt="{{.title}}" class="img-fluid" />
        <h3>{{.title}}</h3>
        <h5>{{.sub_title}}</h5>
      </div>
      {{end}}
    </div>
  </div>
</section>
{{end}}
<!---->
{{end}}
