{{ define "main" }}

<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h2>{{.Title}}</h2>
      <ol>
        <li><a href="/">Home</a></li>
        <li>Kontakt</li>
      </ol>
    </div>
  </div>
</section>
<!-- End Breadcrumbs -->

<!-- ======= Contact Section ======= -->
{{ with .Params.contact}}
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>{{.title}}</h2>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-3">
        <div class="info-box mb-4">
          <i class="bx bx-map"></i>
          <h3>Unsere Adresse</h3>
          <p>{{.address}}</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="info-box mb-4">
          <i class="bx bx-envelope"></i>
          <h3>E-Mail Adresse</h3>
          <p>{{.email}}</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="info-box mb-4">
          <i class="bx bx-phone-call"></i>
          <h3>Telefonnummer</h3>
          <p>{{.phone}}</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="info-box mb-4">
          <i class="bx bx-voicemail"></i>
          <h3>Fax</h3>
          <p>{{.fax}}</p>
        </div>
      </div>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-6">
        <iframe
          class="mb-4 mb-lg-0"
          src="{{.map}}"
          frameborder="0"
          style="border: 0; width: 100%; height: 384px"
          allowfullscreen
        ></iframe>
      </div>

      <div class="col-lg-6">
        <form
          action="forms/contact.php"
          method="post"
          role="form"
          class="php-email-form"
        >
          <div class="row">
            <div class="col form-group">
              <input
                type="text"
                name="name"
                class="form-control"
                id="name"
                placeholder="Ihren Namen"
                required
              />
            </div>
            <div class="col form-group">
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                placeholder="Ihre E-Mail Adresse"
                required
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                name="phone"
                id="phone"
                placeholder="Ihre Telefonnummer"
                required
              />
            </div>
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="subject"
              id="subject"
              placeholder="Betreff"
              required
            />
          </div>
          <div class="form-group">
            <textarea
              class="form-control"
              name="message"
              rows="5"
              placeholder="Ihre Nachricht an uns"
              required
            ></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">
              Your message has been sent. Thank you!
            </div>
          </div>
          <div class="text-center">
            <button type="submit">Senden</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{{end}}
<!-- End Contact Section -->

{{end}}
