<footer id="footer">
  <div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h4>Sie brauchen kompetente Hilfe in Sachen IT?</h4>
          <p>
            Rufen Sie uns an:
            <a href="callto:06227 - 83 00 30">06227 - 83 00 30</a> oder
            abonnieren Sie uns
          </p>
          <form action="" method="post">
            <input type="email" name="email" /><input
              type="submit"
              value="Subscribe"
            />
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          <h3><img src="/img/logo.png" alt="logo" class="img-fluid" /></h3>
          <p>
            Florian Reith IT services <br />
            Turmgasse 34<br />
            69181 Leimen <br /><br />
            <strong>Phone:</strong> 06227 / 83 00 30<br />
            <strong>Email:</strong> Kontakt@Reith.in<br />
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Legal</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="/impressum">Impressum</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="/datenschutzerklaerung">Datenschutzerklärung</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="/disclaimer">Haftungsausschluss (Disclaimer)</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>office hours</h4>
          <p>
            <strong>Monday – Thursday:</strong> 09:00 – 18:00<br />
            <strong>Friday:</strong> 09:00 – 13:00<br />
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Social Media</h4>

          <div class="social-links mt-3">
            <a
              href="https://www.linkedin.com/company/82671364"
              target="_blank"
              class="linkedin"
              ><i class="bx bxl-linkedin"></i
            ></a>
            <a
              href="https://www.facebook.com/ReithFlorian"
              class="facebook"
              target="_blank"
              ><i class="bx bxl-facebook"></i
            ></a>
            <a
              href="https://www.instagram.com/reith_it_dienstleistungen"
              class="instagram"
              target="_blank"
              ><i class="bx bxl-instagram"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container py-4">
    <div class="copyright">Made with ❤ in St. Leon red</div>
    <div class="credits">
      Developed by <a href="https://sualsoft.com/">S U A L SOFT</a>
    </div>
  </div>
</footer>
